body{background:linear-gradient(to left, #000000, #000000 50%, #333 75%, #333 75%);
    color: #1292a3;
    text-decoration: none;

}

.header-title{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color:#ffd000;
    text-align: center;
    font-variant: small-caps;
    font-size: larger;
    border-radius: 5px;
    
}

header {
    background: linear-gradient(to left, #333, #333 50%, #1292a3 75%, #1292a3 75%);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap:10px;
    justify-content: space-between; 
}


.header-button {
    background-color: #000000;
    color: #ffd000;
    font-size: larger;
    font-variant: small-caps;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex: 1; 
    text-align: center; 
}

.header-button:hover {
    background: linear-gradient(to left, #333, #333 50%, #1292a3 75%, #1292a3 75%);
}

.container{
    display:flex;
    background:linear-gradient(to left, #000000, #000000 50%, #333 75%, #333 75%);
    width: 100%;
    height: 600px;
    gap: 10px;
    margin-top: 50px;
    border-radius: 5px;
   
    
    
}

.television{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #333, #333 50%, #1292a3 75%, #1292a3 75%);
    width: 32%;
    height: 275px;
    text-align: center;
    color: #ffd000;
    font-variant: small-caps;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #ffd000;
    border-style: double;
    h{font-size: x-large;}
}

.cinema{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #333, #333 50%, #1292a3 75%, #1292a3 75%);
    width: 32%;
    height: 550px;
    text-align: center;
    color: #ffd000;
    font-variant: small-caps;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border-color: #ffd000;
    border-style: double;
    h{font-size:x-large;}
}

.doublage{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #333, #333 50%, #1292a3 75%, #1292a3 75%);
    width: 32%;
    height: 275px;
    text-align: center;
    color: #ffd000;
    font-variant: small-caps;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: #ffd000;
    border-style: double;
    h{font-size: x-large;}
}

.realisation{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #333, #333 50%, #1292a3 75%, #1292a3 75%);
    width: 973px;
    height: 265px;
    text-align: center;
    color: #ffd000;
    font-variant: small-caps;
    margin-top: 305px;
    margin-left: -997px;
    border-radius: 5px;
    border-color: #ffd000;
    border-style: double;
    h{font-size: x-large;}
    
    
}